files:
  "/etc/brian/logback.xml":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      <?xml version="1.0"?>
      <configuration scan="true" scanPeriod="30 seconds">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <Target>System.out</Target>
          <withJansi>true</withJansi>
          <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{ISO8601,JST} [%X{username}:%.16thread] %.-1level %logger{36}:%line - %msg%n</pattern>
          </encoder>
        </appender>
      
        <logger name="jp.classmethod.aws.brian" level="INFO" />
      
        <!-- ======== Quartz ======== -->
        <logger name="org.quartz.core.QuartzSchedulerThread" level="DEBUG" />
        <logger name="org.quartz.impl.jdbcjobstore" level="INFO" />
        
        <!-- ======== Apache httpd client ======== -->
        <logger name="org.apache.http" level="INFO" />
        <logger name="org.apache.http.wire" level="INFO" />
      
        <!-- ======== Spring framework ======== -->
        <logger name="org.springframework" level="INFO" />
        <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="INFO" />
        <logger name="org.springframework.web.method.support.HandlerMethodReturnValueHandlerComposite" level="DEBUG" />
        
        <!-- ======== AWS SDK ======== -->
        <logger name="com.amazonaws.request" level="INFO" />
        <logger name="com.amazonaws.auth.AWS4Signer" level="INFO" />
        <logger name="com.amazonaws.metrics.internal.cloudwatch.MetricUploaderThread" level="INFO" />
        
        <!-- ======== log4jdbc ======== -->
        <logger name="log4jdbc.debug" level="INFO" />
        <logger name="jdbc" level="WARN" />
        <logger name="jdbc.sqltiming" level="INFO" />
        <logger name="jdbc.resultsettable" level="INFO" />
      
        <!-- ======== Root Logger ======== -->
        <root level="INFO">
          <appender-ref ref="STDOUT" />
        </root>
      </configuration>
